* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --gutter: 30px;
    --size-small: 26;
    --size-big: 36;
}

body {
    background-color: black;
    color: #fff;
    font-size: calc(var(--index) * 0.8);
    line-height: 1.75;
}

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    perspective: 1500px;
}

.gallery {
    transform-style: preserve-3d;
    height: 100%;
}

.frame {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
